body
{
    background-image: url(../img/consultorio.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position-y:bottom;
}


.formulario
{
    background: rgba( 70, 70, 71, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 8px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

