

main{
    background: white ;
    min-height: 695px;
    height: 100%;
}

span
{
    font-size: 1.2em;
}

#btnAdd
{
   background: rgba(20, 197, 64, 0.952);
   border-radius: 20%;
}

.buttonDelete
{
    color: red;
}

.buttonEdit
{
    color: orange;
}
body
{
    
    overflow-y: hidden;
}



#slider
{
    height: 100%;
    max-height: 692px;
}

#slider #slider2
{
    height: 100%;
    max-height: 692px;
}

#divMain
{
    height: 100%;
    max-height: 692px;  
}

#tablaC
{

    overflow-y: auto;
    margin-bottom: 120px;
}

.tabScroll
{
    height: 600px;
    overflow: scroll;
}
